form {
  margin-bottom: 20px;
}
input,
select,
button {
  margin: 6px 0;
  padding: 6px;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.error {
  color: red;
  font-size: 14px;
}

button {
  margin: 5px;
  padding: 10px 20px;
}
#count {
  font-size: 2em;
  margin: 20px 0;
}

li {
  margin: 8px 0;
}
